@font-face {
  font-family: 'DINPro';
  src: local('DINPro'),
  url("../fonts/DINPro.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro';
  src: local('DINPro'),
  url("../fonts/DINPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Black';
  src: local('DINPro-Black'),
  url("../fonts/DINPro-Black.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'),
  url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'),
  url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}